<div class="container" style="width: 100%">
  <form  *ngIf="formGroup" [formGroup]="formGroup">
    <div class="form-group row">
        <label for="inputNumber" class="">Number to convert</label>
          <input mdbInput type="number"
                 formControlName="inputNumber"
                 placeholder="inputNumber"
                 id="inputNumber" class="form-control">
      </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary" (click)="submitNumber()">Convert</button>
    </div>
  </form>
</div>
