<div class="container" >
  <h2>Already converted values : </h2>
  <div class="well">
    <ul class="list-group" *ngIf="numberConvertedList && numberConvertedList.length>0">
      <li class="list-group-item" style="margin-bottom: 10px" *ngFor="let numberConverted of numberConvertedList">
        {{ numberConverted.numberToConvert }} and the result is {{ numberConverted.result }}
      </li>
    </ul>
    <app-foo-bar-quix-form (submitNumberOutput)="convertNumber($event)"></app-foo-bar-quix-form>
  </div>
</div>
